<!-- ---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";
import type { Post } from "../../lib/contentful";
// import { Fade } from "react-awesome-reveal";
import Back from "../../components/Back.astro";
import Icon from "astro-icon";

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries<Post>({
        content_type: "post",
        include: 1,
    });

    const options = {
        renderNode: {
            [BLOCKS.EMBEDDED_ASSET]: (node) => {
                const { title, file } = node.data.target.fields;
                const imageUrl = file.url;
                const imageAlt = title ? title : "";
                return `<img src="${imageUrl}" alt="${imageAlt}" class="md:h-[50vh] mx-auto" />`;
            },
        },
    };

    const pages = entries.items.map((item) => ({
        params: { slug: item.fields.slug },
        props: {
            title: item.fields.title,
            body: documentToHtmlString(item.fields.body, options),
            description: item.fields.description,
            createdAt: new Date(item.fields.createdAt).toLocaleDateString(
                "en-US",
                { year: "numeric", month: "short", day: "numeric" }
            ),
            slug: item.fields.slug,
        },
    }));
    return pages;
}

const { title, body, description, createdAt, slug } = Astro.props;
const bodyWithBreaks = body.replace(/\n/g, "<br />");
---

<Layout title={`${title} | emikinder`}>
    <main class="flex justify-center hero">
        <section class="p-3 my-20 md:mt-24 md:p-2 w-[55rem] relative">
            <Back />
            <div class="mt-4 md:mt-12 flex flex-col gap-4 text-white">
                <div>
                    <p
                        class="font-subtitle font-bold text-4xl"
                        transition:name={`hero-${slug}`}
                    >
                        {title}
                    </p>
                    <p
                        class="flex text-md gap-1 text-orange-500 italic items-center"
                    >
                        <Icon
                            name="calendar"
                            class="w-4 h-4"
                        />{createdAt}
                    </p>
                </div>
                <article class="text-xl">{description}</article>
                <hr class="border-t-1 border-gray-400 my-4" />
                <article
                    class="blog-body"
                    set:html={bodyWithBreaks}
                />
            </div>
        </section>
    </main>
</Layout> -->
