---
import Icon from "astro-icon";

const { post } = Astro.props;
---

<a
    class="w-full p-4 rounded-lg border-2 group text-white mb-4 flex flex-col"
    href=`/blog/${post.slug}/`
>
    <p
        transition:name={`hero-${post.slug}`}
        class="text-2xl font-subtitle font-bold group-hover:text-orange-500 transition-colors duration-300 ease-in-out"
    >
        {post.title}
    </p>
    <p class="flex text-sm items-center gap-1 text-orange-500 italic">
        <Icon
            name="calendar"
            class="w-4 h-4"
        />{post.createdAt}
    </p>
    <p class="text-xl mt-1">{post.description}</p>
</a>
