---
import Chip from "./Chip.astro";
import { Slide } from "react-awesome-reveal";
interface Props {
    project: {
        title: string;
        subtitle: string;
        year: number;
        description: string;
        link?: string;
        github?: string;
        techs: string[];
        project: string;
        color: number;
    };
}

const colors = {
    1: "bg-[#0a0a0a] border border-[#faf9f6]",
    2: "bg-[#00a550]",
    3: "bg-[#6622cc]",
    4: "bg-[#bb8bc5] text-black",
    5: "bg-[#194fa7]",
    6: "bg-[#f39c19]",
    7: "bg-[#dc3545]",
};

const {
    title,
    subtitle,
    description,
    link,
    github,
    project,
    techs,
    color,
    year,
} = Astro.props.project;
---

<section
    class=`shadow flex rounded-lg text-white overflow-hidden ${colors[color]}`
>
    <div class="w-full p-4 flex flex-col justify-between">
        <div>
            <h3 class="text-2xl font-subtitle font-bold">{title}</h3>
            <h4 class="text-sm font-text">{subtitle}&nbsp;{year}.</h4>
            <p class="text-md mt-1 font-text">
                {description}
            </p>
        </div>
        {
            techs && (
                <section class="flex gap-1 md:gap-3 mt-3">
                    {techs.map((tech) => (
                        <Chip tech={tech} />
                    ))}
                </section>
            )
        }

        <Slide
            triggerOnce
            direction="right"
            client:load
        >
            <div class="w-full flex justify-end mt-2 links">
                {
                    github && (
                        <a
                            href={github}
                            target="_blank"
                            class="text-sm font-text hover:underline"
                        >
                            Github<img src="/images/link.svg" class="inline-block w-4 h-4" />
                        </a>
                    )
                }
                {
                    link && (
                        <a
                            href={link}
                            target="_blank"
                            class="text-sm font-text hover:underline"
                        >
                            View site<img src="/images/link.svg" class="inline-block w-4 h-4" />
                        </a>
                    )
                }
                {
                    project && (
                        <a
                            href={`projects/${project}`}
                            class="text-sm font-text hover:underline"
                        >
                            View project
                        </a>
                    )
                }
            </div>
        </Slide>
    </div>
</section>
<style>
    .links > * {
        margin-left: 0.7rem;
        font-weight: 600;
    }
</style>
