---
import Icon from 'astro-icon';
import { projects } from '../data/projects.json';
---

<section
  class="flex flex-col pt-16 h-[100vh] gap-4"
  id="work"
>
  <section class="flex justify-between items-baseline custom-padding">
    <p class="font-inclusive text-4xl sm:text-5xl lg:text-7xl">Work</p>
    <Icon
      name="cube-arrow"
      class="w-[60px] md:w-[100px] sm:mr-16"
    />
  </section>
  <section class="flex-1 flex flex-col">
    {
      projects
        .filter((project) => project.active === true)
        .map((project) => (
          <a
            href={project.link}
            target="_blank"
            class="flex flex-col justify-center custom-padding cursor-none big-cursor border-t last:border-b text-customWhite border-customWhite flex-1 sm:px-16 project-card relative overflow-hidden group"
          >
            <div class="project-hover-bg absolute inset-0 transform -translate-x-full group-hover:translate-x-0 transition-transform duration-500 ease-in-out bg-customWhite" />
            <div class="relative z-10 font-inconsolata text-md text-nowrap group-hover:text-customBlack group-hover:delay-100">
              <div>
                <p>{project.title}</p>
                <small class="text-xs leading-3">{project.description}</small>
              </div>
              <div class="flex">
                {project.techs.map((tech) => (
                  <div class="w-fit text-xs text-customBlack group-hover:text-customWhite bg-customWhite group-hover:delay-100 group-hover:bg-customBlack px-2 rounded-full mr-2">
                    {tech}
                  </div>
                ))}
              </div>
            </div>
            {/* <div
              class="project-hover-image absolute top-0 bottom-0 right-0 w-[60%] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"
              style={`background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.1) 100%), 
              url('${project.image}') no-repeat center right; background-size: cover;`}
            />
            <div class="font-inconsolata mt-5 text-md text-nowrap relative z-10">
              <p>{project.title}</p>
              <span class="text-customWhite text-xs">
                {project.description}
              </span>
            </div> */}
          </a>
        ))
    }
  </section>
</section>
<style>
  .project-card {
    position: relative;
    transition: all 0.3s ease;
  }

  .project-hover-bg {
    /* background: linear-gradient(
      90deg,
      rgba(59, 130, 246, 0.1) 0%,
      rgba(59, 130, 246, 0.2) 100%
    ); */
    /* background:
      linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.1) 100%),
      url('/photo.jpeg') no-repeat center right; */
    background-size: cover;
    z-index: 1;
  }

  /* .project-card:hover .project-hover-bg {
    transform: translateX(0);
  } */
</style>
